.cards-grid{
    width:100%;
    text-align: center;
    background-color:#ffff;
    border-radius:5px;
    overflow:hidden;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

ul{
   list-style-type: none;
}