@font-face {
  font-family: 'misery-gymnast';
  src: local('misery-gymnast'), url(./fonts/misery-gymnast.otf) format('truetype');
}


*{
  box-sizing:border-box;
  margin:0 ;
  padding:0 ;
  

}
.page-container{
 background-color:#0000001f;
}

